
{% extends 'baseHeader.html' %}
{% load static %}
{% block content %}
<style>
  h4 em{
    font-style: normal;
    color: var(--bluev);
  }
</style>
  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Welcome to our school</h6>
            <h2><em>Oqdaryo</em> tuman ixtisoslashtirilgan maktabi  <p>Kelajak yoshlar qo'lida</p></h2>
           
            <div class="main-button-gradient">
              <div class="scroll-to-section"><a href="#">Kirish</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="{% static 'assets/images/LOGO.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h4>Bizning <em>Maktabda</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
                </div>
                <h4>Foydali mashqlar</h4>
                <p>O`quvchilar uchun foydali bo`lgan mashqlar</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
                </div>
                <h4>Kreaitive G'oyalar</h4>
                <p>O`quvchilarga kreativ fikrlashni o'rgatish</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
                </div>
                <h4>O'qishga chanqoq</h4>
                <p>O'quvchilar o'qishliklari uchun ko'plab kitoblar</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-04.png' %}" alt="">
                </div>
                <h4>Turli xil Texnologiya</h4>
                <p>ROBOTOTEXNIKA darslarining tashkil qilinganligi</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
                </div>
                <h4>Foydali mashqlar</h4>
                <p>O`quvchilar uchun foydali bo`lgan mashqlar</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
                </div>
                <h4>Kreaitive G'oyalar</h4>
                <p>O`quvchilarga kreativ fikrlashni o'rgatish</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
                </div>
                <h4>O'qishga chanqoq</h4>
                <p>O'quvchilar o'qishliklari uchun ko'plab kitoblar</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-04.png' %}" alt="">
                </div>
                <h4>Turli xil Texnologiya</h4>
                <p>ROBOTOTEXNIKA darslarining tashkil qilinganligi</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
                </div>
                <h4>Foydali mashqlar</h4>
                <p>O`quvchilar uchun foydali bo`lgan mashqlar</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
                </div>
                <h4>Kreaitive G'oyalar</h4>
                <p>O`quvchilarga kreativ fikrlashni o'rgatish</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
                </div>
                <h4>O'qishga chanqoq</h4>
                <p>O'quvchilar o'qishliklari uchun ko'plab kitoblar</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-04.png' %}" alt="">
                </div>
                <h4>Turli xil Texnologiya</h4>
                <p>ROBOTOTEXNIKA darslarining tashkil qilinganligi</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
                </div>
                <h4>Foydali mashqlar</h4>
                <p>O`quvchilar uchun foydali bo`lgan mashqlar</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
                </div>
                <h4>Kreaitive G'oyalar</h4>
                <p>O`quvchilarga kreativ fikrlashni o'rgatish</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
                </div>
                <h4>O'qishga chanqoq</h4>
                <p>O'quvchilar o'qishliklari uchun ko'plab kitoblar</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-04.png' %}" alt="">
                </div>
                <h4>Turli xil Texnologiya</h4>
                <p>ROBOTOTEXNIKA darslarining tashkil qilinganligi</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h4>Maktab  <em>Rahbarlari</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Direktor</span></div>
                    <div class="gradient-border"><span>Ma'naviy va Ma'rifiy I.B.O'.B</span></div>
                    <div class="gradient-border"><span>Psixolog</span></div>
                    <div class="gradient-border"><span>O'quv I.B.D.O'.B</span></div>
                    <div class="gradient-border"><span>Maktab maslahatchisi</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-image" style="overflow: hidden; width: 300px;">
                           <img src="{% static 'assets/images/direktor.jpg' %}" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Direktor: <em>Sulaymanov Nusratjon Utkirovich</em></h4>

                          <p><i style="font-weight: bold;">Sulaymanov Nusratjon Utkirovich</i>- 1990-yil Oqdaryo tumanida tug'ilgan. </p> 
                          <p> Toshkent axborot texnologiyalari universiteti va Samarqand davlat universitetlarini tamomlagan.</p>
                          <p>Mutaxassisligi - Elektron va kompyuter texnikasi, Iqtisodiyot.</p>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="active">
                      <div>
                        <div class="left-image" style="overflow: hidden; width: 300px;">
                           <img src="{% static 'assets/images/makt/02.jpg' %}" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Ma'naviy va ma'rifiy ishlar bo'yicha direktor o'rinbosari: <em >Egamkulov Tolibjon Komiljon o'g'li</em></h4>
                          <p><i style="font-weight: bold;">Egamkulov Tolibjon Komiljon o'g'li</i> - 1990-yil Oqdaryo tumanida tug'ilgan. </p>
                          <p>Samarqand davlat universitetini tamomlagan.</p>
                          <p>Mutaxassisligi - Fizika</p>

                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image" style="overflow: hidden; width: 300px; ">
                          <img src="{% static 'assets/images/makt/01.jpg' %}" alt="">
                        </div>
                        <div class="right-content">
                          <h4>Psixolog: <em>To'rayev Rustam Tuyg'un</em></h4>
                          <p><i style="font-weight: bold;">To'rayev Rustam Tuyg'un</i>-1999-yil Payariq tumanida tug'ilgan.</p>
                          <p>Samarqand davlat universiteti</p>
                          <p>Mutaxassisligi - Psixolog</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image" style="overflow: hidden; width: 300px;">
                          <img src="{% static 'assets/images/makt/05.jpg' %}" alt="">
                         
                        </div>
                        <div class="right-content">
                          <h4>O'quv ishlari bo'yicha Direktor o'rin bosari <em>Nozimov Adhamxo'ja Komiljon o'g'li</em></h4>
                          <p><i style="font-weight: bold;">Nozimov Adhamxo'ja Komiljon o'g'li</i>- 1990-yil Oqdaryo tumanida tug'ilgan.</p>
                          <p>Samarqand davlat universitetini tamomlagan</p>
                          <p>Mutaxassisligi - Tarix </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-image" style="overflow: hidden; width: 300px;">
                          <img src="{% static 'assets/images/makt/06.jpg' %}" alt="">
                          
                        </div>
                        <div class="right-content">
                          <h4>Maktab maslahatchisi: <em>Shakarova Nafisa Shomuradovna</em></h4>
                          <p><i style="font-weight: bold;">Shakarova Nafisa Shomuradovna</i>- 1986-yil Oqdaryo tumanida tug'ilgan. </p>
                          <p>Samarqand davlat chet tillar universiteti va O'zbekiston milliy universitetlarini tamomlagan</p>
                          <p>Mutaxassisligi - Filolog, nemis va ingliz tili o'qituvchisi</p>
                        </div>
                      </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="{% static 'assets/images/cta-left-image.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Kelajak yoshlar qo'lida!!!</h6>
          <h4>Oqdaryo tuman ixtisoslashtirilgan maktabi</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, assumenda, ab ipsam temporibus inventore ut praesentium optio laborum nihil cupiditate.</p>
          <div class="white-button">
            <a href="{% url 'login' %}">Kirish</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h4>Bizning <em>Yutuqlarimiz</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5; ">


            {% for item in yutuq %}

            <div class="item" style="height: 600px!important;">
              <div class="image-sec" style="height: 350px;">
                <img style=" width: 350px; border-radius: 10px" class="abo" src="{{ item.image.url }}" alt="">
              </div>
              <div style="padding: 30px;">
                <p>“{{ item.about }}”</p>
                <h4>{{ item.name }}</h4>
                <span>{{ item.typ }}</span>
              </div>
            </div>
            {% endfor %}

            
            

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">
          
            <!-- You just need to go to Google Maps for your own map point, and copy the embed code from Share -> Embed a map section -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6126.677277141875!2d66.73497436793437!3d39.84424351527532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d7317c912953f%3A0xaa7d30892058ffef!2sOqdaryo%20tumani%20ixtisoslashgan%20maktabi!5e0!3m2!1sen!2sth!4v1703604370615!5m2!1sen!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="row">
              <div class="col-lg-4 offset-lg-1">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Phone</h4>
                  <span>+998-99-279-6179</span>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="contact-info">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <h4>Mobile</h4>
                  <span>+998-99-279-6179</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact" action="">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h4><em>Aloqa</em></h4>
                  <p>Biz bilan bog'lanish uchun yoki farzandingizni shu yerda o'qitishni istasangiz yozib qoldiring!</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" id="name" placeholder="Ism, Familya" autocomplete="on" >
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" id="tel" placeholder="Telefon raqamingiz">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea id="message" placeholder="Xabar...."></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button">Jo'natish</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2024.
          
          <br>Design: <a rel="sponsored" href="https://rmcoder.netlify.app" target="_blank">Mansurxon Rustamov</a>
        </div>
      </div>
    </div>
  </section>

    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>

{% endblock content %}

